<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main">
      <div id="left">
        <div id="leftpart1">
            <div id="lp11">
                <img src="/images/Spotify_Logo_RGB_White.png" alt="">
            </div>
            <div id="lp11" class="lp12">
                <i class="ri-home-4-fill"></i>
                <h3>HOME</h3>
            </div>
            <div id="lp11" class="lp12">
                <i class="ri-search-fill"></i>
                <h3>Search</h3>
            </div>
        </div>
        <div id="leftpart2"></div>
      </div>
      <div id="right"></div>
    </div>
  </body>
</html>
